# Your Infura WebSocket URL
INFURA_WS_URL=

# The ERC-20 quote token address at blockchain. Ex: 0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14 (WETH - Sepolia)
TOKEN_ADDRESS=

# Your wallet address on blockchain
WALLET=

# Your wallet private key
PRIVATE_KEY=

# Your blockchain name, lowercase. Ex: sepolia
NETWORK=

# Your Infura node API Key
INFURA_API_KEY=

# The Uniswap V3 SwapRouter02 contract address. Ex: 0x3bFA4769FB09eefC5a80d6E87c3B9C650f7Ae48E (Sepolia)
ROUTER_ADDRESS=

# The Uniswap V3 Factory contract address. Ex: 0x0227628f3F023bb0B980b67D528571c95c6DaC1c (Sepolia)
FACTORY_ADDRESS=

# The coin amount (in ether) for each "buy" swap. Ex: 0.01
AMOUNT_TO_BUY=