# Your Moralis API KEY
MORALIS_API_KEY=

# The interval time in ms to monitor. Ex: 300000 (5min)
INTERVAL=

# The ERC-20 base token address at blockchain. Ex: 0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984 (UNI - Sepolia)
TOKEN0_ADDRESS=

# The ERC-20 quote token address at blockchain. Ex: 0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14 (WETH - Sepolia)
TOKEN1_ADDRESS=

# Your wallet address on blockchain
WALLET=

# Your wallet private key
PRIVATE_KEY=

# Your blockchain name, lowercase. Ex: sepolia
NETWORK=

# Your Infura node API Key
INFURA_API_KEY=

# The Uniswap V3 SwapRouter02 contract address. Ex: 0x3bFA4769FB09eefC5a80d6E87c3B9C650f7Ae48E (Sepolia)
ROUTER_ADDRESS=

# The coin price (in USD) which will trigger the "buy" swap. Ex: 5
PRICE_TO_BUY=

# The coin amount (in ether) for each "buy" swap. Ex: 0.1
AMOUNT_TO_BUY=

# The desired profitability multiplier which will trigger the "sell" swap. Ex: 1.1 (10%)
PROFITABILITY=